.idea
test.aiml2.xml

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm
package-lock.json
yarn.lock
.yarn/cache
.pnp.*
.yarn/install-state.gz
.yarn/unplugged
.pnp.*
